<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <script src="project.js"></script>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>The Judge</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

    <style type="text/css">
   body {
    background-color:#BBDEFB;
     }
     img {
    border-radius: 50%;
}
.btn-primary {
 width: 12em;  height: 3em;
}
.d {
border: 2px solid #CE93D8;
 width: 15em;  height: 3em;
}


</style>
</head>
<body>




    			
<div id="wrapper" style="text-align: center">    
	<div id="yourdiv" style="display: inline-block;">	
	<div class="row">
	
		<div class="container">
		<br/>
	<div class="panel">
			<br/><br/>
            <img src="http://st.codeforces.com/s/72960/images/codeforces-logo-with-telegram.png" width="400"/>
			<form  action="/post" >
			<input type="text" name="handel" class="form-control" rows="5" cols="100" placeholder="Enter Handle"/>
                <br/>
      			<button type="submit" class="btn btn-info ">Get problems</button>

            </form>
			</div>

			</div>
	</div>
        <div class="container">
			<div class="panel panel-default" >
                <div class="panel-heading"><h3>CodeForces Solved Problems</h3></div>
                <div class="panel-body">
                <div class="row">
                   <br/>
                    <div class="col-sm-4">
                      <img th:attr=" src =${titlePhoto}"/>
                   </div>

                    <div class="col-sm-6">
                   <h4>
                    first Name : <b th:text="${firstName}"></b><br/><br/>
                    last Name  : <b th:text="${lastName}"></b><br/><br/>
                    Handle  : <b th:text="${handle}"></b><br/><br/>
                    organization  : <b th:text="${organization}"><br/></b><br/><br/>
                    rank  : <b th:text="${rank}"></b><br/><br/>
                    rating  : <b th:text="${rating}"></b><br/><br/>
                   </h4>
                    </div>
                </div>
        <div class="row">

                <th:block cellspacing="10">
                    <div class="col-sm-3">
                        <h1>Problems "A"</h1>
                    </div>
                    <div class="col-sm-9">
                        <br/><br/>
                        <tr  th:each="user ,i  : ${problems} " th:if="${#strings.endsWith(user.key,'A')}">
                            <a class="btn d" th:attr="href =${user.key}" th:text="${user.value}">link</a>
                        </tr>
                    </div>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="col-sm-3">
                        <h1>Problems "B"</h1>
                    </div>
                    <div class="col-sm-9">
                        <br/><br/>
                        <tr th:each="user  : ${problems}" th:if="${#strings.endsWith(user.key,'B')}">
                            <a 	type="button" class="btn d" th:attr="href =${user.key}" th:text="${user.value}">link</a>
                        </tr>
                    </div>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="col-sm-3">
                        <h1>Problems "C"</h1>
                    </div>
                    <div class="col-sm-9">
                        <br/><br/>
                        <tr th:each="user  : ${problems}" th:if="${#strings.endsWith(user.key,'C')}">
                            <a 	type="button" class="btn d" th:attr="href =${user.key}" th:text="${user.value}">link</a>
                        </tr>
                    </div>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="col-sm-3">
                        <h1>Problems "D"</h1>
                    </div>
                    <div class="col-sm-9">
                        <br/><br/>
                        <tr th:each="user  : ${problems}" th:if="${#strings.endsWith(user.key,'D')}">
                            <a 	type="button" class="btn d" th:attr="href =${user.key}" th:text="${user.value}">link</a>
                        </tr>
                    </div>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="col-sm-3">
                        <h1>Problems "E"</h1>
                    </div>
                    <div class="col-sm-9">
                        <br/><br/>
                        <tr th:each="user  : ${problems}" th:if="${#strings.endsWith(user.key,'E')}">
                            <a 	type="button" class="btn d" th:attr="href =${user.key}" th:text="${user.value}">link</a>
                        </tr>
                    </div>
                    <br/>
                    <hr/>
                    <br/>
                    <div class="col-sm-3">
                        <h1>Problems "F"</h1>
                    </div>
                    <div class="col-sm-9">
                        <br/><br/>
                        <tr th:each="user  : ${problems}" th:if="${#strings.endsWith(user.key,'F')}">
                            <a 	type="button" class="btn d " th:attr="href =${user.key}" th:text="${user.value}">link</a>
                        </tr>
                    </div>
                    <br/>
                    <hr/>
                    <br/>

                </th:block>

              </div>
            </div>
                </div>

         </div>
     </div>
    </div>
</body>
</html>
